*, ::before, ::after{
    margin: 0;
    padding: 0;
    font-family: "poppins";
    box-sizing: border-box;

}

body
{
    background: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* le menu deroulant */
.wrapper{
    width: 90%;
    margin: 0 auto;
    
      position: absolute;
      top: 20px; /* Ajustez la position verticale du bouton */
      left: 20px; /* Ajustez la position horizontale du bouton */
      z-index: 9999; /* Pour s'assurer que le bouton est au-dessus du contenu */
}

.logo{
    width: 200px;
    height: auto;
    margin: 20px;
    z-index: 30000;
}

.container{
    float: right;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menulogo{
    height: 4px;
    width: 30px;
    background-color: #78A2CC;
    border-radius: 3px;
    margin-right: -100px;
}

.menu{
    width: 50%;
    height: 100vh;
    background-color: #78A2CC;
    padding: 50px;
    transform: translateX(-500px);
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.menu li{
    list-style-type: none;
    border-bottom: 1px solid #97c2ed;
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.showmenu{
    transform: translateX(0);
}

.menu li a:last-child{
    border-bottom: none;
}

.menu li:first-child a{
    font-weight: bold;
}

.menu li a{
    color: snow;
    text-decoration: none;
    font-size: 20px;
    transition: font-weight 0.2s;
}

.menu li a:hover{
    font-weight: bold;
}


/* ===== ABOUT =====*/
.about_section{
    margin-top: 120px;
}

.about__container {
    position: absolute;
    top: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 300px;
}  

.description{
   margin-right: 30px;
   text-align: center;
}

/*.about__subtitle {
    margin-bottom: var(--mb-2);
    text-align: center;
}*/

 h2{
    font-size: 2vw;
} 

.p{
    font-size: 3px;
}

.about__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
  
.about__img img {
    width: 420px;
    height: auto;
    border-radius: .5rem;
    box-shadow: -28px 28px 3px -6px #b8b7b797;
}


.title{
    
    margin-top: -50px;
    text-align: center;
    font-size: 2rem;
    color:#78A2CC;
    text-decoration: underline;
}



body
{
    background: #fff    ;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


    footer
    {
        position: absolute;
        flex-shrink: 0;
        width: 100%;
        top: 800px;
        
        background:  #78A2CC;
        color: #333;
    }

    img
    {
        width: 200px;
    }

    .contenu-footer
    {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 20px;
        padding: 50px 0 100px;
    }

    .bloc
    {
        width: 70%;
        margin: 0 30px;
    }
    .bloc1
    {
        width: 30%;
        margin: 0 30px;
    }
    .liste-services, .liste-social
    {
        list-style: none;
    }

    .liste-social  li 
    {
        display: inline;
        margin-left: 50px;
    }

    .liste-social  li a
    {
        opacity: 0.8;
    }

    .liste-social  li a:hover
    {
        opacity: 1;
    }


    .liste-services li
    {
        padding: 2px 0;
        font-size: 20px;
    }

    .liste-services a
    {
        text-decoration: none;
        color: white;
    }

    @media screen and (max-width: 1300px)
    {
        .contenu-footer
        {
            width: 700px;
            flex-wrap: wrap;
        }

        .bloc, .bloc1
        {
            width: 75%;
            margin: 0 0;
        }

        .bloc:nth-child(1), .bloc:nth-child(2)
        {
            margin-bottom: 25px;
        }

        .logo{
            width: 30%;
        }

        .about__container{
            display: flex;
            justify-content: space-between;
        }

        .about__container img {
            width: 40vw;
        }

        .about__container .description{
            font-size: 10px;
        }

        .menulogo{
            margin-right: 20px;
        }

        .contenu-footer
        {
            width: 320px;
        }

        .bloc
        {
            width: 300px;
            margin: 30px 30px;
        }

        .bloc:nth-child(1), .bloc:nth-child(2)
        {
            margin-bottom: 15px;
        }

        .bloc:nth-child(1)
        {
            margin-top: 0;
        }
    }

/*@media screen and(max-width: 800px)
{
    .contenu-footer
    {
        width: 320px;
    }

    .bloc
    {
        width: 300px;
        margin: 30px 30px;
    }

    .bloc:nth-child(1), .bloc:nth-child(2)
    {
        margin-bottom: 15px;
    }

    .bloc:nth-child(1)
    {
        margin-top: 0;
    }
}*/

  @media screen and (min-width: 1000px) {
    .menu{
        width: 500px;
    }
}

/*@media screen and (max-width:900px){
    .logo{
        width: 30%;
    }

    .about__container{
        display: flex;
        justify-content: space-between;
    }

    .about__container img {
        width: 40vw;
    }

    .about__container .description{
        font-size: 10px;
    }

    .menulogo{
        margin-right: 20px;
    }
}